<div>
  <br>
  <mat-card>
    <form class="example-form">
     <mat-form-field class="example-full-width">
       <input matInput placeholder="Type here" formControlName="show" #show >
     </mat-form-field>
    
   </form>
    <!-- <button mat-raised-button color="accent" >Search for Show</button>      -->
    <br><br>

    <button type="submit" (click)="searchForShow(show.value)"
      
     mat-raised-button color="primary">Search</button>
    <br><br>
    <mat-divider>
    </mat-divider>
    
    <!-- name, genres, officialSite -->
        
    <br>
    
    
    <h2>Show name: {{result.name}}</h2>
    <h3>Show genre: {{result.genres[0]}}</h3>
    <h4>Show officialsite: {{result.officialSite}}</h4>
    
  </mat-card>
</div>
