<div>
  <br>
  <mat-card>
    <form class="example-form">
     <mat-form-field class="example-full-width">
       <input matInput placeholder="Type here" formControlName="show" #show >
     </mat-form-field>
    
   </form>
    <!-- <button mat-raised-button color="accent" >Search for Show</button>      -->
    <br><br>

    <button type="submit" (click)="searchForShow(show.value)"
      
     mat-raised-button color="primary">Search</button>
    <br><br>
    <mat-divider>
    </mat-divider>
    
    <!-- name, genres, officialSite -->
        
    <br>
    <table mat-table [dataSource]="data">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element"> {{name}} </td>
      </ng-container>

      <ng-container matColumnDef="genre">
        <th mat-header-cell *matHeaderCellDef>Genre</th>
        <td mat-cell *matCellDef="let element"> {{genre}} </td>
      </ng-container>

      <ng-container matColumnDef="officialSite">
        <th mat-header-cell *matHeaderCellDef>Official Site</th>
        <td mat-cell *matCellDef="let element"> {{officialSite}} </td>
      </ng-container>

      <!-- <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="mat-column-right">Actions</th>
        <td mat-cell *matCellDef="let element" class="mat-column-right">
          <button mat-button color="primary" (click)="editIssue(element._id)">Edit</button>
          <button mat-button color="warn" (click)="deleteIssue(element._id)">Delete</button>
        </td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </mat-card>
</div>
